<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Assinment3AtCogent/src/com/cb/Assignments/DepostiAndInterest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.cb.Assignments.DepostiAndInterest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Assinment3AtCogent"/>
</launchConfiguration>
