<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Example/src/com/cb/cogent/INOTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.cb.cogent.INOTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="G:\Newfolder\NewTextDocument.txt G:\Newfolder\NewTextDocument1.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Example"/>
</launchConfiguration>
